@using Chirp.Core.Models
@using Chirp.Web.Areas.Identity.Pages.Account.Manage
@inject SignInManager<Author> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index">Profile</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.EmailNavClass(ViewContext)" id="email" asp-page="./Email">Email</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword">Password</a></li>
    @if (hasExternalLogins)
    {
        <li id="external-logins" class="nav-item"><a id="external-login" class="nav-link @ManageNavPages.ExternalLoginsNavClass(ViewContext)" asp-page="./ExternalLogins">External logins</a></li>
    }
    <li class="nav-item"><a class="nav-link @ManageNavPages.PersonalDataNavClass(ViewContext)" id="personal-data" asp-page="./PersonalData">Personal data</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.FollowingNavClass(ViewContext)" id="following" asp-page="./Following">Following</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.PersonalCheepsNavClass(ViewContext)" id="personal-cheeps" asp-page="./PersonalCheeps">Your Cheeps</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.DeletePersonalDataNavClass(ViewContext)" id="delete" asp-page="./Delete">Forget me</a></li>
</ul>